<!DOCTYPE html>
<html>
  <head>
    <div id="mySidepanel" class="sidepanel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/" class="list-group-item list-group-item-action active list-group-item-light">
            All Transaction
        </a>
        <a href="/users/u/<%= user %>" class="list-group-item list-group-item-action list-group-item-light">
            Profile
        </a>
          <a href="/users/transaction" class="list-group-item list-group-item-action list-group-item-light">Transaction</a>
          <a href="/users/transactionhistory" class="list-group-item list-group-item-action list-group-item-light">Transaction History</a>
          <a href="/login" class="list-group-item list-group-item-action list-group-item-light">Login</a>
      </div>
      <nav class="navbar fixed-top navbar-dark bg-dark">
      <button class="navbar-toggler" onclick="openNav()" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bounty</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  </head>
  <body>
    <div class="card bg-light mb-3 mt-5">
      <div class="card-header">New register</div>
      <div class="card-body">
        <div class="table-responsive-sm anyClass">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Age</th>
                <th>Info</th>
              </tr>
            </thead>
              <tbody id="newaccount">

              </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <div class="card-header">New add bounty</div>
      <div class="card-body">
        <div class="table-responsive-sm anyClass">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Age</th>
                <th>User</th>
                <th>Symbol</th>
                <th>Bounty</th>
              </tr>
            </thead>
              <tbody id="newadd">

              </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <div class="card-header">New send</div>
      <div class="card-body">
        <div class="table-responsive-sm anyClass">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Age</th>
                <th>From</th>
                <th>Symbol</th>
                <th>To</th>
                <th>Bounty</th>
              </tr>
            </thead>
              <tbody id="newsend">

              </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="bodycontent">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--             <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src = "/javascripts/moment.js"></script>
    <script src = "/socket.io/socket.io.js"></script>
    <script src = "/javascripts/bootstrap-notify.js"></script>
    <script>
      function openNav() {
        document.getElementById("mySidepanel").style.width = "250px";
      }

      /* Set the width of the sidebar to 0 (hide it) */
      function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
      }
      let allaccount = [];
      let alladd = [];
      let allsend = [];
      var socket = io('/web');
      socket.on('NewAccount', function (data) {
              $.notify('<b>'+data.data.returnValues.user+'</b>'+' was registed', {
                placement: {
                  from: 'top',
                  align: 'left'
                },
              });
        allaccount.push(data.data);
        rendAccount();
      })

      socket.on('NewAdd', function (data) {
              $.notify('<b>'+data.data.returnValues.user+'</b>'+' got '+'<b>'+data.data.returnValues.val+ ' ' + data.data.returnValues.symbol+'</b>', {
                placement: {
                  from: 'top',
                  align: 'left'
                },
              });
        alladd.push(data.data);
        rendAdd();
      })

      socket.on('NewSend', function (data) {
              $.notify('<b>'+data.data.returnValues.userA+'</b>'+' send '+'<b>'+data.data.returnValues.val+' '+data.data.returnValues.symbolA+':'+data.data.returnValues.symbolB+'</b>'+' to '+'<b>'+data.data.returnValues.userB+'</b>', {
                placement: {
                  from: 'top',
                  align: 'left'
                },
              });
        allsend.push(data.data);
        rendSend();
      })

      socket.on('rallEventNewAccount', function(data)
      {
        console.log(data);
        allaccount = data.data;
        rendAccount();
      })

      socket.on('rallEventNewAddBounty', function(data)
      {
        console.log(data);
        alladd = data.data;
        rendAdd();
      })

      socket.on('rallEventNewSend', function(data)
      {
        console.log(data);
        allsend = data.data;
        rendSend();
      })

      function rendAccount()
      {
        document.getElementById('newaccount').innerHTML = '';
        for (var i=allaccount.length-1; i>=0; i--)
        {
          
          document.getElementById('newaccount').innerHTML += '<tr><td><a onclick="setInfoAccount('+i+')" data-toggle="modal" data-target="#exampleModalLong" href="#"><i>'+timeAgo(allaccount[i].returnValues.time)+'</i></a></td><td><b><font color="red">'+allaccount[i].returnValues.user+'</font></b></td></tr>';
        }
      }

      function rendAdd()
      {
        document.getElementById('newadd').innerHTML = '';
        for (var i=alladd.length-1; i>=0; i--)
        {
          
          document.getElementById('newadd').innerHTML += '<tr><td><a onclick="setInfoAddBounty('+i+')" data-toggle="modal" data-target="#exampleModalLong" href="#"><i>'+timeAgo(alladd[i].returnValues.time)+'</i></a></td><td><b><font color="red">'+alladd[i].returnValues.user+'</font></b></td><td><b><font color="orange">'+alladd[i].returnValues.symbol+'<front></b></td><td><b><font color="green">'+alladd[i].returnValues.val+'</front></b></td></tr>';
        }
      }

      function rendSend()
      {
        document.getElementById('newsend').innerHTML = '';
        for (var i=allsend.length-1; i>=0; i--)
        {
          
          document.getElementById('newsend').innerHTML += '<tr><td><a onclick="setInfoSendBounty('+i+')" data-toggle="modal" data-target="#exampleModalLong" href="#"><i>'+timeAgo(allsend[i].returnValues.time)+'</i></a></td><td><b><font color="red">'+allsend[i].returnValues.userA+'</font></b></td><td><b><font color="orange">'+allsend[i].returnValues.symbolA +' <i class="fas fa-arrow-alt-circle-right" style="color: green;"></i> '+allsend[i].returnValues.symbolB+'</front></b></td><td><b><font color="red">'+allsend[i].returnValues.userB+'</font></b></td><td><b><font color="green">'+allsend[i].returnValues.val+'</front></b></td></tr>';
        }
      }

      function timeAgo(times)
      {
        var diff = moment().diff(parseInt(times)*1000);
        var duration = moment.duration(diff);
        var day = Math.floor(duration.as('d'));
        var hours = Math.floor(duration.as('h'));
        var min = Math.floor(duration.as('m'));
        var sec = Math.floor(duration.as('s'));
        rs = "";
        if (day == 0 && hours == 0 && min == 0)
          rs = "Vua xong";
        else if (day == 0 && hours == 0 && min != 0)
          rs = min + " mins";
        else if (day == 0 && hours != 0)
          rs = hours + " hours";
        else if (day != 0)
          rs = day + " days"
        return rs;
      }

      function setInfoAccount(i)
      {
        document.getElementById('exampleModalLongTitle').innerHTML = allaccount[i].event;
        document.getElementById('bodycontent').innerHTML = '<div class="table-responsive"><table class="table table-bordered"><thead></thead><tbody id="newaccount"><tr><td style="text-align: right;">blockNumber</td><td><a target="blank" href="https://kovan.etherscan.io/block/'+allaccount[i].blockNumber+'">'+allaccount[i].blockNumber+'</a></td></tr><tr><td style="text-align: right;">transactionHash</td><td><a target="blank" href="https://kovan.etherscan.io/tx/'+allaccount[i].transactionHash+'">'+allaccount[i].transactionHash+'</a></td></tr><tr><td style="text-align: right;">transactionIndex</td><td>'+allaccount[i].transactionIndex+'</td></tr><tr><td style="text-align: right;">user</td><td>'+allaccount[i].returnValues.user+'</td></tr><tr><td style="text-align: right;">time</td><td>'+moment(parseInt(allaccount[i].returnValues.time*1000)).format()+'</td></tr></tbody></table></div>';
      }

      function setInfoAddBounty(i)
      {
        document.getElementById('exampleModalLongTitle').innerHTML = alladd[i].event;
        document.getElementById('bodycontent').innerHTML = '<div class="table-responsive"><table class="table table-bordered"><thead></thead><tbody id="newaccount"><tr><td style="text-align: right;">blockNumber</td><td><a target="blank" href="https://kovan.etherscan.io/block/'+alladd[i].blockNumber+'">'+alladd[i].blockNumber+'</a></td></tr><tr><td style="text-align: right;">transactionHash</td><td><a target="blank" href="https://kovan.etherscan.io/tx/'+alladd[i].transactionHash+'">'+alladd[i].transactionHash+'</a></td></tr><tr><td style="text-align: right;">transactionIndex</td><td>'+alladd[i].transactionIndex+'</td></tr><tr><td style="text-align: right;">user</td><td>'+alladd[i].returnValues.user+'</td></tr><tr><td style="text-align: right;">symbol</td><td>'+alladd[i].returnValues.symbol+'</td></tr><tr><td style="text-align: right;">value</td><td>'+alladd[i].returnValues.val+'</td></tr><tr><td style="text-align: right;">time</td><td>'+moment(parseInt(alladd[i].returnValues.time*1000)).format()+'</td></tr></tbody></table></div>';
      }

      function setInfoSendBounty(i)
      {
        document.getElementById('exampleModalLongTitle').innerHTML = allsend[i].event;
        document.getElementById('bodycontent').innerHTML = '<div class="table-responsive"><table class="table table-bordered"><thead></thead><tbody id="newaccount"><tr><td style="text-align: right;">blockNumber</td><td><a target="blank" href="https://kovan.etherscan.io/block/'+allsend[i].blockNumber+'">'+allsend[i].blockNumber+'</a></td></tr><tr><td style="text-align: right;">transactionHash</td><td><a target="blank" href="https://kovan.etherscan.io/tx/'+allsend[i].transactionHash+'">'+allsend[i].transactionHash+'</a></td></tr><tr><td style="text-align: right;">transactionIndex</td><td>'+allsend[i].transactionIndex+'</td></tr><tr><td style="text-align: right;">from</td><td>'+allsend[i].returnValues.userA+'</td></tr><tr><td style="text-align: right;">to</td><td>'+allsend[i].returnValues.userB+'</td></tr><tr><td style="text-align: right;">symbol</td><td>'+allsend[i].returnValues.symbolA+' <i class="fas fa-arrow-alt-circle-right" style="color: green;"></i> '+allsend[i].returnValues.symbolB+'</td></tr><tr><td style="text-align: right;">value</td><td>'+allsend[i].returnValues.val+'</td></tr><tr><td style="text-align: right;">time</td><td>'+moment(parseInt(allsend[i].returnValues.time*1000)).format()+'</td></tr></tbody></table></div>';
      }

    </script>
</html>
